p {
  margin: 0.2em;
  padding: 0;
  color: #FFFFFF;
}

body {
  background-color: black;
}

html,
body,
#contents {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#contents {
  overflow: scroll;
}
